# Swift Package Manager (root artifacts)
/.build
/.swiftpm/
/Packages
/Package.resolved

# Xcode projects/workspaces (root only)
# *.xcodeproj
*.xcworkspace


# Xcode user data and build output (anywhere)
DerivedData/
xcuserdata/
*.xcuserstate
*.xcbkptlist

.netrc

# macOS
.DS_Store

# Temporary
*.swp
*.log
*.tmp
